@model IEnumerable<TVU.Models.covanhoctap>

@{
    ViewBag.Title = "Thông tin cố vấn học tập";
}

<div class="row">
    <div class="thongtincovan">
        <h1>TRA CỨU THÔNG TIN CỐ VẤN HỌC TẬP</h1>
            <div class="namHoc">
                <button style="width: 200px !important;" onclick="window.location.href = '/Home/CongThongTin'">Tiếp tục tra cứu</button>
            </div>
        @if (Model.Any()) /*.Any() kiểm tra xem nó giá trị nào ko */
        {
            <label>Thông tin cố vấn</label>
            <div class="thongtin">
                 @foreach (var item in Model) /*@Html.DisplayFor == HTMLTEXT*/
                 {
                     <ul>
                         <li>
                             <h1>Tên CVHT:</h1>
                             <h2>@Html.DisplayFor(modelItem => item.tenCVHT)</h2> 
                         </li>
                         <li>
                             <h1>Email:</h1>
                             <h2>@Html.DisplayFor(modelItem => item.email)</h2>
                         </li>
                         <li>
                             <h1>Điện thoại:</h1>
                             <h2>@Html.DisplayFor(modelItem => item.dienThoai)</h2>
                         </li>
                         <li>
                             <h1>Quyết định:</h1>
                             <h2>@Html.DisplayFor(modelItem => item.quyetDinh)</h2>
                         </li>
                         <li>
                             <h1>Ghi chú:</h1>
                             <h2>@Html.DisplayFor(modelItem => item.ghiChu)</h2>
                         </li>
                         <li>
                             <h1>Nội dung điều chỉnh:</h1>
                             <h2>@Html.DisplayFor(modelItem => item.noiDungDieuChinh)</h2>
                         </li>
                     </ul>
                 }
             </div>
             
        }
        else
        {
             <p>Không tìm thấy thông tin cố vấn học tập phù hợp.</p>
         }
         
    </div>
</div>
